<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="Socket port" type="number" id="SOCKET_PORT" default="10000"/>
        <setting label="Data base file" type="text" id="DB_FILE" default="resources/gcrserver/resources/database.db"/>
    </category>
</settings>
